$login-body: #ccc;
$primary-color: #ff4b2b;
$primary-color-hover: rgb(205, 63, 38);
$secondary-color: #ff416c;
$linear: linear-gradient(to right, $primary-color, $secondary-color);
$footer-links: #3c97bf;
$footer-bg: #222;
